.card a{
    text-decoration: none;
    color: black;
}
.card a:hover{
    color: black;
}

.card{
    width: 400px;
    height: 400px;

    transition: all 0.3s;
    filter: grayscale(0%);
}

.card:hover{
    filter: grayscale(100%);
}

.card-img-overlay{
    display: flex;
}

.card h5 {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    color: white;
}

.row {
    margin-bottom: 15px;
}

.head-title{
    margin-left: 100px;
}